.arrowbutton-container{
    position: absolute;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    bottom:0;
    z-index: 2;
}

.arrow-button{
    background-color:transparent;
    border:none;
}

.arrow-icon{
    color:#181818;
}
.arrow-icon:hover{
    color:#FE5A26;
}
