.comingsoon-container{
    margin-top:20%;
    min-width:75%;
    height:auto;
    text-align:center;
    /* background-color:antiquewhite; */
}

.excitingtxt{
    font-family: 'Nunito Sans';
    font-size:28px;
}

.comingSoon{
    font-family: 'PT Sans Narrow';
    font-weight: 700;
    font-size:120px;
}