.hero-video-container{
    position: absolute;
    height:100vh;
    width: 100vw;
    overflow: hidden;
    z-index: 0;
}

@media (min-aspect-ratio: 16/9) {
    .hero-video {
        width: 100%;
        height: auto;
    }
  }
  
@media (max-aspect-ratio: 16/9) {
    .hero-video {
        height:100%;
        width: auto;
    }
  }

@media (max-width: 767px) {
    .hero-video {
        display: none;
    }
  }