.Layout{
  position: absolute;
  display:grid;
  grid-template-columns: 40% 60% ;
  width: 100%;
  height:100%;
}

.Info{
  background:linear-gradient(78.09deg, #140049 -22.59%, #5200FF 128.04%);
}
.Details{
  margin:10%;
}
.CatchPhrase{
  font-family: Bebas Neue;
  color: #fff;
  font-size: 7vw;
  margin-bottom:0px;
}

.Copy{
  font-family: Nunito Sans;
  color: #fff;
  font-size: 2vw;
  margin-top:0px;
}

.Store{
  position: relative;
  margin-top:10%;
  display:grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-column-gap: 20px;
  width: 100%;
  height:100%;
}

.store-item{
  width:100%;
  height:100%;
  margin:0;
}

.CoIcon{
  position:relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.iOS{
  position:relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Android{
  position:relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.Socials{
  margin-top:30%;
}

.social-copy{
  font-family: Nunito Sans;
  color: #fff;
  font-size: 2vw;
  font-weight:100;
  margin-bottom:5%;
}

.social-icons{
  position: relative;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 20px;
  width: 50%;
  height:50px;
}

.icon-style{
  color: #fff;
  transition: all 1s
}

.icon-style:hover{
  color:#FE5A26;
}

.Graphic{
  text-align: center;
}

.Mockups{
  position: relative;
  top:10%;
}

.Form{
  position: relative;
  top:20%;
  width: 100%;
  height: 7%;
}

input[type=text] {
  width: 35%;
  height:100%;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #5200FF;
  border-radius: 10px;
}

.submit{
  background-color: #FE5A26; /* Green */
  border: none;
  color: white;
  padding: 10px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  font-family:Bebas Neue;
  cursor: pointer;
  height:100%;
  margin:0 0 0 10px;
  border-radius: 25px

}


/* For extremely small screen devices (595px and below) */
@media only screen and (max-width: 595px) {
  .Layout{
    grid-template-columns: 1fr ;
  }

  
}

/* Small screen devices (600px and above) */
@media only screen and (min-width: 600px) {

  
}

/* Medium screen devices (768px and above) */
/* @media only screen and (min-width: 768px) {...} */

/* Big screen devices (889px and above) */
/* @media only screen and (min-width: 889px) {...} */

/* Extra big screen devices (1200px and above) */
/* @media only screen and (min-width: 1200px) {...} */
